@charset "UTF-8";
.centrado {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:1000px;
	height: auto;
	background-image: url(../imagenes/fondo_div.png);
}

.top {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:1000px;
	height: 10px;
}
.pie {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:1000px;
	height: 30px;
	background-image: url(../imagenes/pie.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: center;
	vertical-align: text-bottom;
	padding-top: 5px;
}
.titReyco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #04336C;
	margin-left: 30px;
	width: 183px;
	padding: 5px;
	border: 1px solid #CCC;
}
.txtIndex {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	width: 183px;
	padding: 5px;
	height: 254px;
	margin-left: 30px;
}
.titMapa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #999;
	width: 183px;
	padding: 5px;
	border: 1px solid #CCC;
	margin-right: 30px;
}
.fotIndex {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #333;
	width: 193px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
	height: 265px;
	margin-right: 30px;
}

.linkPie{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	color: #FFF;
    background-color: ; 			
	font-size: 12px;
	white-space: normal;
}
.linkPie:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	color: #FFF;
    background-color: ; 			
	font-size: 12px;
	white-space: normal;
}
.linkPie:actived{ 
    font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	color: #FFF;
    background-color: ; 			
	font-size: 12px;
	white-space: normal;
	}
.linkPie:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: underline;
	font-style: normal;
	color: #FFF;
    background-color: ; 			
	font-size: 12px;
	white-space: normal;
}
.txtListadoRemates {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	width: 700px;
	padding: 5px;
	border-top-width: 3px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 25px;
	margin-left: 30px;
	border-top-color: #CCC;
}
.contFotos {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	width: 940px;
	border-top-width: 3px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 345px;
	margin-left: 30px;
	border-top-color: #CCC;
	margin-top: 5px;
}
.linkVerMas{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	color: #FF0000;
    background-color: ; 			
	font-size: 14px;
	white-space: normal;
}
.linkVerMas a:visited{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	color: #FF0000;
    background-color: ; 			
	font-size: 14px;
	white-space: normal;
}
.linkVerMas a:actived{ 
    font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	color: #FF0000;
    background-color: ; 			
	font-size: 14px;
	white-space: normal;
	}
.linkVerMas a:hover{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-decoration: underline;
	font-style: normal;
	color: #999;
    background-color: ; 			
	font-size: 14px;
	white-space: normal;
}
.fotIzq {
	width: 440px;
	height: 215px;
	margin-left: 22px;
	border-color: #000;
	border-width: 4px;
	border-style: solid;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	margin-bottom: 30px;
	padding: 5px 0 0 0 ;
}
.fotIzq img{
	padding: 0 5px 0 5px;
}
.txtFot {
	padding: 0 0 0 5px;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}
.fotCentro {
	width: 210px;
	height: 210px;
	margin-left: 10px;
	border-color: #000;
	border-width: 4px;
	border-style: solid;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	margin-bottom: 20px;
}
.fotDer{
	width: 440px;
	height: 215px;
	border-color: #000;
	border-width: 4px;
	border-style: solid;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	margin-left: 0px;
	margin-right: 22px;
	margin-bottom: 30px;
	padding: 5px 0 0 0 ;
}
.fotDer img{
	padding: 0 5px 0 5px;
}
.txtFot {
	padding: 0 0 0 5px;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
}
div.pagination {
	width: 700px;
	background-color:#fff;
	color:#48b9ef;
	padding:10px 0 10px 0;
	margin-left:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
}

div.pagination a {
	color:#48b9ef;
	padding:2px 5px;
	margin:0 2px;
	text-decoration:none;
	border:2px solid #f0f0f0;
}

div.pagination a:hover, div.pagination a:active {
	border:2px solid #ff5a00;
	color:#ff5a00;
}

div.pagination span.current {
	padding:2px 5px;
	border:2px solid #ff5a00;
	color:#fff;
	font-weight:bold;
	background-color:#ff6c16;
}
div.pagination span.disabled {
	display:none;
}
.txtQuienesIzq {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	width: 680px;
	padding: 0px;
	margin-left: 36px;
	float: left;
}
.txtQuienesDer {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
	width: 200px;
	padding: 0px;
	margin-left: 54px;
	float: left;
}
.contendor {
	width: 965px;
}.ddw {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:1000px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	text-align: right;
	vertical-align: text-bottom;
}
.fotQuienesIzq {
	float: left;
	width: 300px;
	margin-bottom: 20px;
}
.fotQuienesDer {
	float: right;
	margin-bottom: 20px;
}
#fotos {
	float: left;
	height: 340px;
	width: 460px;
	margin-top: 5px;
	margin-right: 5px;
}
#fotosDer {
	float: left;
	height: 340px;
	width: 460px;
	margin-top: 5px;
	margin-left: 15px;
}
