.menu, .menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    line-height: 2.5em;
}
.menu a
{
    text-decoration: none;
}
.menu > li
{
    margin-left: 15px;
}
.menu > li:first
{
    margin-left:0px!important;
    }
.menu > li > a
{
    padding: 0px 10px;
    margin: 0;
    width: 100%;
    text-decoration: none;
    color: #838383;
    font-weight: bold;
}
div.box
{
    position: absolute;
    z-index: -1;
   	border: 1px solid #77d5f7;
	background: #0078ae url("images/ui-bg_glass_45_0078ae_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #fff;
    left: 0;
    top: 0;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}
li.pull-down
{
    padding-right:6px;
}
li.pull-down > a
{
    background-image: url('../images/darrow.png');
    background-position: 96% 75%;
    background-repeat: no-repeat;
    padding-right: 20px;
}
li.right-menu > a
{
    background-image: url('../images/rarrow.png');
    background-position: 97% 45%;
    background-repeat: no-repeat;
}
.menu a.selected
{
    border: 1px solid #77d5f7;
    background-color: #cccccc;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
}
.menu li
{
    float: left;
    position: relative;
}

.menu ul
{
    position: absolute;
    display: none;
    width: 200px;
    top: 2.5em; /*padding-right: 10px;*/
 // background-color: #cccccc; /*-moz-opacity: .50;     filter: alpha(opacity=50);     opacity: .50;*/
    border: 1px solid #77d5f7;
    background: #0078ae url("images/ui-bg_glass_45_0078ae_1x400.png") repeat-x;
    font-weight: normal;
    color: #fff;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    box-shadow: 0px 2px 8px #888888;
}

.menu li ul a
{
    width: 180px;
    height: auto;
    float: left;
    color: #FFFEFD;
    padding: 0 10px;
}
.menu li ul li
{
    padding: 0;
    margin: 0;
}
.menu ul ul
{
    top: auto;
}

.menu li ul ul
{
    left: 198px; /*margin: 0px 0 0 10px;*/
}
.menu-item-selected > a
{
background: #6eac2c url("images/ui-bg_gloss-wave_50_6eac2c_500x100.png") 50% 50% repeat-x;
font-weight: normal;
color: #ffffff;
 //    background-color: #838383;
 //   -moz-opacity: .50;
 //  filter: alpha(opacity=50);
 //  opacity: .50;
}
.menu-item-selected > a:hover
{
    color: #ffffff !important;
}

