@charset "utf-8";
body {
    font: 12px "Roboto", sans-serif;
    background: linear-gradient(to right,darkgrey, lightgrey); /* For browsers that do not support gradients */
    margin: 0;
    padding: 0;
    height: auto;
    text-align: center;
    background-size: cover;
    
}

.ui-widget {
    font-family: "Roboto", sans-serif !important;
}

img, .noBorder {
    border: 0;
}
.bz #container {
    width: 984px;
    background: linear-gradient(lightgrey) no-repeat fixed center;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid lightgrey;
    box-shadow: 8px 10px 40px -9px black;
    border-radius: 3px;

    text-align: left;
}
.bz #header {
    padding: 0px;
    padding-top: 0px;
    border: 0px solid lightblue;
}
.bz #mainContent {
    padding: 0 8px;
    background: #FFFFA7;
}
.bz #footer {
    margin-top: 1px;
    text-align: right;
    padding: 1px;
		font-size: 9px;
		font-weight: normal;
		letter-spacing: 1px;
}
.title {
    font-size: 1.3em;
    padding: 10px 9px;
    background: url(../images/bg_h.gif) repeat-x 0 0;
    text-transform: uppercase;
    color: #FFF;
    margin: 10px 0 0 0;
}
h2 {
    font-size: 1em;
    margin-bottom: 0;
}
.lError {
    color: #CC0000;
    font-weight: bold;
}
.error {
    border: 1px solid #CC0000;
}
.errorMsg {
    color: #CC0000;
    padding-left: 19.4em;
}
#errorBox {
    background-color: #FFEBE8;
    border: 1px solid #DD3C10;
    padding: 10px;
}
#errorBox h2, #okBox h2, #okBox1 h2{
    font-size: 13px;
    border: 0;
    margin: 0;
    padding: 0;
}
#errorBox p, #okBox p, #okBox1 p{
    margin: 4px 0 0 0;
    padding: 0;
}

#okBox a:link, #okBox a:visited, #okBox1 a:link, #okBox1 a:visited {
	color: #E29121;
	text-decoration: none;
}

#okBox a:active, #okBox a:hover, #okBox1 a:active, #okBox1 a:hover {
	color: #F60;
	text-decoration: underline;
}

#errorBox a:link, #errorBox a:visited {
    color: #B3320D;
    text-decoration: none;
}
#errorBox a:active, #errorBox a:hover {
    color: #B3320D;
    text-decoration: underline;
}
#okBox {
    background-color: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 10px;
}

input, textarea {
    border:1px solid #BDC7D8;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    padding: 3px;
}
select {
    border:1px solid #BDC7D8;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    padding:2px;
}
fieldset ol {
    padding: 1em 1em 0 1em;
    list-style: none;
   // zoom: 1;
}
fieldset li {
    float: left;
    clear: left;
    width: 100%;
    padding-bottom: 1em;
    padding-left: 2em;
}
label {
    float: left;
    width: 18em;
    margin-right: 1em;
    text-align: right;
    padding-top: 6px;
}
.fieldset {
    border: 1px solid #CCC;
}
.button {
    border-top: 1px solid #D9DFEA;
    border-left: 1px solid #D9DFEA;
    border-bottom: 1px solid #0E1F5B;
    border-right: 1px solid #0E1F5B;
    margin: 2px 0;
    padding: 2px 15px 3px;
    background-color:#3B5998;
    color:#FFF;
    font-size:11px;
    font-family: "Ubuntu", sans-serif;
    text-align:center;
}
.checkboxText {
    vertical-align: baseline;
}
.tableContainer{
	background-color: #EDEDED;
	margin: 0;
	padding: 8px;
}
.tableContainer p{
	padding-top: 0;
	margin-top: 0;
}
.menutab{
	width: 250px;
	border: 1px solid #333;
	background-color: #EDEDED;
	text-align: left;
	font-size: 1.1em;
	padding-left: 10px;
}
.menutab li{
	line-height: 1.5em;
}
#overlay {
	background-image:url(../images/transparent.png);
	color:#efefef;
	height:450px;
}
div.contentWrap {
	height:441px;
	overflow-y:auto;
}

.topMenu {
	position: relative; 
	z-index:2;
}

.historial_table {
	border-collapse: collapse;
	width: 100%
}

.historial_table td, td {
	text-align: left;
	padding: 8px;
}

.historial_table tbody>tr:nth-child(even) {
	background-color: #f2f2f2
}

img.image-links {
    width: 146px;
    height: 100px;
}

#links div:nth-of-type(1) .image-links {
border-top-left-radius: 4px;
}

#links div:nth-of-type(6) .image-links {
border-top-right-radius: 4px;
}

#links div:nth-of-type(7) .image-links {
border-bottom-left-radius: 4px;
}

#links div:nth-of-type(12) .image-links {
border-bottom-right-radius: 4px;
}

.ui-re-shadow {
    position:relative;
    z-index:1;
    box-shadow: 0px 2px 8px #888888;
    border-radius: 8px
}

/* Preloader */
#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(to right,darkgrey, lightgrey);
    //background: url(/aseguradora_v4/images/bgsite.jpg)  no-repeat fixed center;
    background-size: cover;
    z-index:1001; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image: url(/aseguradoras/images/loading2.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

 /* Button Switcher */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 